* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px !important;
    line-height: 1.42857143;
    color: #333;
    background-color: #fcfcfc !important;
}
section#topbar {
  top: 0;
  height: auto;
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
  position: fixed;
  padding: .7em 0;
  z-index: 5;
}
ul{
  list-style-type: none;
}
.col-xs-12{
  width: 100%;
}

ul.top-left
{
  float: left;
}
ul.top-right{
  float: right;
}
ul.top-right li {
    display: inline-block;
    padding: 0em 1em;
    font-weight:100;
}
section#topbar a{
  text-decoration: none;
  color: #333;
}
section#topbar a:hover{
  text-decoration: none;
  color: red;
}
#topbar .row {
margin-right: 0;
margin-left: 0;
}
header#header{
  width: 100%;
  padding: 15px 0px;
  margin-top: 30px;
}

.input-group
{
  margin: 12px 0 0;
}
header#header ul
{
  width: 100%;
  float: left;
  margin: 12px 0px 0px;
}
header#header ul li{
  float: left;
  width: 33.333333%;
  height: 37px;
}
header#header ul li a {
    font-size: 13px;
    color: #333;
   width: 100%;
}
header#header ul li a:hover {
    color: red;
    text-decoration: none;
}

header#header ul li .fa
{
  font-size: 35px;
float: left;
}
header#header ul li .fa.fa-shopping-bag
{
  font-size: 17px;
float: left;
}
.fa-fw{
  width: 1.28571429em;
  text-align: center;
}

header#header ul li li{
  width: 100%;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  display: block;
}

#shopping-cart
{
  border: 2px solid #000;
}
header#header ul li li .fa
{
  font-size: 20px;
margin-top: 5px;
    margin-right: 10px;
}
header#header ul ul{
  left: 0;
  transform: translate3d(0, 0, 0px);
}
header#header ul li#member li a
{
  font-size: 15px;
  background-color: #f2f2f2;
  display: block;
    height: 100%;
}
header#header ul li#member li a:hover
{
  background-color: #FE9A2E;
  text-decoration: none;
}
#navbar ul > li {
  display:inline-table;
  width:auto;
  position: relative;
  font-size: 14px;
}
#navbar ul li a {
  color:#333;
  text-decoration: none;
  display: block;
      padding: 10px 20px;
}
#navbar ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
}
#navbar ul li a:hover {
  color:red;
}
#navbar ul ul{
  
  width: 150px;
}
#navbar ul li > .sub-menu
{
  background-color: #f9f9f9;
  display: none;
  position: absolute;
  left: -20px;
  width: 265px;
  font-size: 13px;
  z-index: 30;
}
#navbar .container ul {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;

}
#navbar ul li:hover .sub-menu
{
  display: block;
}
.sub-menu li {
  max-height: 10px;
  width: 100% !important;
  text-align: left;
  border-top: 1px dotted #ccc;
}
.sub-menu li:hover{
  background-color: #000;
}
.sub-menu li a:hover{
  color: #fff !important;
}
.mySlides {
  display: none;
}
.dot {
  bottom: 50px;
    position: relative;
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 99;
  border: 1px solid #333;
}
/* khi được hover, active đổi màu nền */
.active, .dot:hover {
  background-color: #fff;
}
#slider button{
  border-color: transparent;
  background-color: transparent;
  height: 150px;
  width: 60px;
  border: 1px solid;
}
.slide-show{
  position: relative;
  display: block;
}
#slider:hover .slick-prev{
    left: 20px;

}
#slider:hover .slick-next{
  right: 20px;
 
}
.slick-prev{
      top: 39%;
    left: -30px;
     font-size: 60px;
    transition: all 0.5s;
}
.slick-next{
      top: 39%;
    right: -30px;
     font-size: 60px;
    transition: all 0.5s;

}
.slick-prev, .slick-next{
  position: absolute;
}
.slick-prev,.slick-next:hover{
  cursor: pointer;
}
section#slider {
  margin: 20px 0px;
}
section#quangcao img{
  width: 100%;
  height: auto;
}
section#quangcao img:hover{
    transform: scale(1.2);
}
.mrb30 {
  margin-bottom: 30px;
}
div.i-title{
  text-align: center;
  position: relative;
}
div.i-title h2{
   position: relative;
    display: inline-block;
    padding: 20px 20px 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fcfcfc;
    
}
div.i-title:before{
  position: absolute;
  content: '';
  border-top: 1px solid #000;
  display: block;
      left: 0;
    right: 0;
    top: 54%;
}
.col-sm-8{
  padding-left: 0;
}
section#newpage {
  text-align: center;
  padding: 60px 0;
  background-color: #fff;
}
section#newpage form input {
  border: 0;
    border-bottom: 2px solid #333;
    width: 400px;
    text-align: center;
    font-size: 15px;
    outline: none;
    height: 25px;
}
section#newpage h3{
  font-size: 25px;
  font-weight: bold;
}
footer#footer{
  background-color: #000;
  color: #fff;
  padding-top: 30px;
}
footer#footer h4.title{
  font-size: 16px;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
footer#footer ul li{
  padding-bottom: 5px;
}
footer #copy-right{
     border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
footer #copy-right p{
  margin: 12px;
}
#back-top{
    position: fixed;
    top: 76%;
    z-index: 999;
    right: 20px;
    background-color: #fff;
    border-radius: 50%;
}
#back-top img{
  height: 50px;
    width: 50px;
}
button.success{
  background-color: #76300a;
  color:#fff;
  border-radius: 0;
}
.hinh{
  width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    transition: all 0.5s;
}
.hinh:hover{
  border-radius: 0;
  transform: rotate(50deg);

}
.sli img{
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
  display: block;
}
div.i-content .row{
    margin-right: 0;
    margin-left: 0;
}
div.sli{
  position: relative;
  transition: all 0.5s;
}
div.slide-box{
  display: inline-block;
  width: 370px;
  padding: 10px;
  animation: slide 0.5s forwards;
    animation-delay: 2s;
}
.prev, .next{
    display: inline-block;
    width: 45px;
    height: auto;
    font-size: 27px;
    cursor: pointer;
    position: absolute;
    text-align: center;
    z-index: 2;
    top: 45%;
    border: 1px solid gray;
    background-color: #fff;
}
.prev{
      left: -4px;
}
.next{
  right: 120px;
      right: -4px;
}
.prev:hover {
  background-color: gray;
  color: #fff;
  text-decoration: none;
}
.next:hover {
  background-color: gray;
  color: #fff;
}
div.slide-box .name{
  font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
}
div.slide-box .info{
  font-size: 14px;
  color: gray;
}
div.slide-box .name:hover{
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.image{
  position: relative;
}
.slide-box .image a{
     position: absolute;
    top: 50%;
    font-size: 0;
    width: 5px;
    left: 50%;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    height: 5px;
    border-radius: 50%;
    font-weight: 600;
    transition: all 0.5s;
}
div.slide-box .image:hover:before{
  cursor:pointer;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: all 1s;
  mix-blend-mode: hard-light;
  box-shadow: 0 0 500px rgba(0,0,0,1) inset;
}
div.slide-box .image:hover a{
  display: block;
  z-index: 2;
  color: #fff;
  font-size: 27px;
  width: 50px;
  border: 4px solid #fff;
  height: 50px;
  top: 45%;
  left: 45%;

}
div.slide-box .image::before{
  content: '';
  border: 1px solid #ccc;
  position: absolute;
      top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 2;

}

section#partner .row{
  margin-right: 0;
    margin-left: 0;
}
#partner .col-xs-4{
  width: 33.3333%;
  height: auto;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding:20px 0;
  border-right: 1px solid #fff;
  letter-spacing: 2px;
}
#partner p{
  color: #ccc;
    font-weight: 100;
}
h3.text-zoom{
   text-transform: uppercase;
    font-size: 25px;
    line-height: 30px;
    transition: all 0.5s;
}
div.call:hover .text-zoom{
  letter-spacing: 4.5px;

}
section#page{
  padding: 25px 0;
}